html {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, #a3a3a3, #ffffff);
    height: 100%;
}

.effect-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    border: 2px solid #4d4d4d;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to right, #d8d8d8, #f8f9fa);
    font-size: 1.5rem;
    font-weight: 200;
}

.effect-item.active {
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.432);
    background-image: url('images/active.jpg'); /* Replace with your actual image path */
    background-size: cover;
    background-position: center;
}

.material-icons.settings-icon {
    font-size: inherit;
}

.effect-name {
    flex-grow: 1;
}

a.effect-link {
    text-decoration: none;
    color: inherit;
    width: 100%;
}


a.settings-link {
    color: inherit;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.effect-item:not(.active) a.settings-link {
    color: #bbb;
}

/* .material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-huge { font-size: 160px; } */
